#mainPopup {
    padding: 10px;
    height: 400px;
    width: 400px;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
    border: 2px solid #355166;
}
h1 {
    font-size: 2em;
}

.logo{
    background: url('../../icons/logo.png');
    height: 120px;

}
.clear{
    clear: both;
}

#details{
    margin-top: 10px;
    display: none;
}

#details > div{
    width: 45%;
    float: left;
    margin-left: 5%;
}

#show-error-msg{
    display: none;
    margin-top: 85px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #ce728a;
    
}


#loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ff8000;
  background: -moz-linear-gradient(left, #ff8000 10%, rgba(255,128,0, 0) 42%);
  background: -webkit-linear-gradient(left, #ff8000 10%, rgba(255,128,0, 0) 42%);
  background: -o-linear-gradient(left, #ff8000 10%, rgba(255,128,0, 0) 42%);
  background: -ms-linear-gradient(left, #ff8000 10%, rgba(255,128,0, 0) 42%);
  background: linear-gradient(to right, #ff8000 10%, rgba(255,128,0, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
#loader:before {
  width: 50%;
  height: 50%;
  background: #ff8000;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
#loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
